/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffff; /* Fondo azul claro */
    color: #333;
}

/* Título principal */
h1 {
    color: #ffa51e; /* Azul brillante */
    text-align: center;
    margin-bottom: 30px;
}

/* Secciones */


/* Títulos de secciones */
h2 {
    color: #104e8b; /* Azul oscuro */
    margin-bottom: 10px;
}

/* Texto de resultados */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Resaltar resultados dinámicos */
span {
    font-weight: bold;
    color: #ff4500; /* Naranja para que resalte */
}
